* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Navbar_Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 25px;
}

.Navbar_Search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 25px;
}

.Navbar_Search_Input {
    background-color: inherit;
    color:white;
    border: none;
}

.Menu_On {
    border-radius: 10px;
    width: 380px;
    color:white;
    border: 1px solid  rgb(195, 200, 235);
}

.Menu_Off {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 380px;
    color:white;
    border: 1px solid  rgb(195, 200, 235);
}

.Menu_On_Statistic{
    width: 380px;
    height: 400px;
    background-color: rgb(195, 200, 235);
    border-radius: 10px;
}

.Menu_Rebooting{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 80px;
    border: 1px solid  rgb(195, 200, 235);
    border-radius: 10px;
}